<div class="d-flex justify-content-center align-items-center h-100">
  <div class="flex-row">
    <div class="form-box d-flex flex-column">
      <div class="card-logo d-flex justify-content-center mb-2  mt-3">
        <img class="mr-3" src="assets/images/antifragil-lampada.svg" />
        <img src="assets/images/antifragil.svg" />
      </div>
      <div class="card-body">
        <div class="form-group mb-2">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            autocomplete="email"
            tabindex="1"
          />
        </div>
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            placeholder="Nome Completo"
            autocomplete="name"
            tabindex="2"
          />
        </div>
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            placeholder="Nome de Usuário"
            autocomplete="username"
            tabindex="3"
          />
        </div>
        <div class="form-group mb-2">
          <input
            type="password"
            class="form-control"
            placeholder="Senha"
            autocomplete="new-password"
            tabindex="4"
          />
        </div>
        <div class="form-group mb-2">
          <input
            type="password"
            class="form-control"
            placeholder="Repita Senha"
            autocomplete="new-password"
            tabindex="5"
          />
        </div>
        <div class="d-flex justify-content-between mt-5">
          <button (click)="navegarPaginaLogin()" class="btn btn--transparent">
            Cancelar
          </button>
          <button tabindex="6" class="btn btn--blue">
            Criar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
