<div class="navbar fixed-top navbar--dark-blue d-flex flex-row">
  <div class="navbar-left d-flex">
    <div class="navbar-logo d-flex align-items-center justify-content-end">
      <object
        class="mr-2"
        type="image/svg+xml"
        data="assets/images/antifragil-lampada-branco.svg"
      ></object>
      <object
        class="mr-2"
        type="image/svg+xml"
        data="assets/images/antifragil-branco.svg"
      ></object>
    </div>
    <div class="navbar-search d-flex align-items-center">
      <div class="w-100 position-relative">
        <input
          ngxTypeahead
          [taDisplayOnFocus]="true"
          [ngClass]="{ 'ta-opened': opened }"
          (keydown)="onKeydown()"
          [value]="search"
          [taUrl]="url"
          [taParams]="params"
          (taSelected)="handleResultSelected($event)"
          [taItemTpl]="searchTemplate"
          class="form-control mr-2 input--slim"
          type="search"
          placeholder="Pesquise uma pergunta"
        />
      </div>
      <button
        (click)="navegarParaNovaPergunta()"
        class="btn btn-create btn--light-gray input--slim"
        type="button"
      >
        Criar pergunta
      </button>
      <div class="dropdown d-flex">
        <button
          class="btn btn-outline btn__badge-container btn-create  input--slim ml-2"
          type="button"
          data-toggle="dropdown"
        >
          Notificações
          <span class="btn__badge">20</span>
        </button>
        <button
          class="btn btn-create-sm btn--light-gray input--slim"
          type="submit"
        >
          <i class="fa fa-plus"></i>
        </button>
        <button
          class="btn btn-outline-sm btn-create-sm btn__badge-container input--slim ml-2 mr-2"
          type="button"
          data-toggle="dropdown"
        >
          <i class="fa fa-bell"></i>
          <span class="btn__badge">20</span>
        </button>
        <div class="notification-menu dropdown-menu">
          <p>
            Sua pergunta:
            <b> Como ser um grande empreendedor de sucesso?</b> Obteve 50
            curtidas.
          </p>
          <p>
            Sua pergunta:
            <b> Como ser um grande empreendedor de sucesso?</b> Obteve 50
            curtidas.
          </p>
        </div>
      </div>
      <button class="btn btn-login" type="button">
        <object
          type="image/svg+xml"
          data="assets/images/generic-user.svg"
        ></object>
      </button>
    </div>
  </div>
  <div class="profile d-flex align-items-center">
    <img class="mr-1" [src]="perfilUrl()" />
    <div class="dropdown">
      <button
        class="btn dropdown-toggle btn-transparent--white"
        type="button"
        data-toggle="dropdown"
      >
        Minha conta
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/login">Cadastre-se</a>
        <a class="dropdown-item" href="#">Login</a>
      </div>
    </div>
  </div>
</div>

<ng-template let-result #searchTemplate>
  <strong>{{ result.result }}</strong>
</ng-template>
