<div class="navbar fixed-top navbar--dark-blue d-flex flex-row">
  <div class="navbar-left d-flex">
    <div (click)="navegarFeed()" class="navbar-logo">
      <img class="mr-2" src="assets/images/antifragil-lampada-branco.svg" />
      <img class="mr-2" src="assets/images/antifragil-branco.svg" />
    </div>
    <div class="navbar-search d-flex align-items-center">
      <div class="w-100 position-relative has-feedback">
        <!-- <span class="fa fa-search form-control-feedback"></span> -->
        <fa-icon class="form-control-feedback" icon="search"></fa-icon>
        <input
          *ngIf="pessoaLogada"
          id="searchPergunta"
          ngxTypeahead
          [taDisplayOnFocus]="true"
          [ngClass]="{ 'ta-opened': opened }"
          (keydown)="onKeydown()"
          [value]="search"
          [taUrl]="url"
          [categorias]="categorias"
          [taParams]="params"
          taQueryParam="search"
          taApi="http"
          taAllowEmpty="true"
          (taSelected)="handleResultSelected($event)"
          [taItemTpl]="searchTemplate"
          class="form-control mr-2 input--slim"
          type="text"
          placeholder="Pesquise uma pergunta"
        />
      </div>
      <button
        (click)="navegarParaNovaPergunta()"
        *ngIf="pessoaLogada"
        class="btn btn-create btn--light-gray input--slim"
        type="button"
      >
        Criar pergunta
      </button>
      <div class="dropdown d-flex">
        <button
          class="btn btn-outline btn__badge-container btn-create  input--slim ml-2"
          type="button"
          *ngIf="pessoaLogada"
          data-toggle="dropdown"
        >
          Notificações
          <span class="btn__badge">20</span>
        </button>
        <button
          *ngIf="pessoaLogada"
          (click)="navegarParaNovaPergunta()"
          class="btn btn-create-sm btn--light-gray input--slim"
          type="submit"
        >
          <i class="fa fa-plus"></i>
        </button>
        <button
          *ngIf="pessoaLogada"
          class="btn btn-outline-sm btn-create-sm btn__badge-container input--slim ml-2 mr-2"
          type="button"
          data-toggle="dropdown"
        >
          <i class="fa fa-bell"></i>
          <span class="btn__badge">20</span>
        </button>
        <div class="notification-menu dropdown-menu">
          <p>
            Sua pergunta:
            <b> Como ser um grande empreendedor de sucesso?</b> Obteve 50
            curtidas.
          </p>
          <p>
            Sua pergunta:
            <b> Como ser um grande empreendedor de sucesso?</b> Obteve 50
            curtidas.
          </p>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-login" type="button" data-toggle="dropdown">
          <img [src]="perfilUrl()" />
        </button>
        <div *ngIf="!pessoaLogada" class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" (click)="navegarCadastro()">Cadastre-se</a>
          <a class="dropdown-item" (click)="navegarPaginaCadastro()">Login</a>
        </div>
        <div *ngIf="pessoaLogada" class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" (click)="logout()">Sair</a>
        </div>
      </div>
    </div>
  </div>
  <div class="profile d-flex align-items-center">
    <img class="mr-1" [src]="perfilUrl()" />
    <div class="dropdown">
      <button
        class="btn dropdown-toggle btn-transparent--white"
        type="button"
        data-toggle="dropdown"
      >
        Minha conta
      </button>
      <div *ngIf="!pessoaLogada" class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" (click)="navegarCadastro()">Cadastre-se</a>
        <a class="dropdown-item" (click)="navegarPaginaCadastro()">Login</a>
      </div>
      <div *ngIf="pessoaLogada" class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" (click)="logout()">Sair</a>
      </div>
    </div>
  </div>
</div>

<ng-template let-result #searchTemplate>
  <strong>{{ result.result.titulo }}</strong>
</ng-template>
