<div class="container-principal h-100">
  <div class="pergunta-container">
    <div class="header p-2">
      <h1>Explore nossas perguntas</h1>
    </div>
    <div class="pergunta">
      <div class="pergunta__principal">
        <div class="pergunta__titulo p-2">
          Como ser um grande empreendedor de sucesso?
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <span class="tag">Insights</span>
            <span class="tag">dicas</span>
          </div>
          <div class="pergunta__detalhe mr-2">
            <div class="pergunta__detalhe--historico">
              Postada a 4 dias atrás - <span>@RafaelLima</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="tag-big--white">
          <div class="d-flex w-100 justify-content-center">1</div>
          <span>Respostas</span>
        </div>
        <div class="tag-big">
          <div class="d-flex w-100 justify-content-center">
            2
          </div>
          <span>Curtidas</span>
        </div>
      </div>
    </div>
    <div class="pergunta">
      <div class="pergunta__principal">
        <div class="pergunta__titulo p-2">
          Como ser um grande empreendedor de sucesso?
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <span class="tag">Insights</span>
            <span class="tag">dicas</span>
          </div>
          <div class="pergunta__detalhe mr-2">
            <div class="pergunta__detalhe--historico">
              Postada a 4 dias atrás - <span>@RafaelLima</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="tag-big--white">
          <div class="d-flex w-100 justify-content-center">1</div>
          <span>Respostas</span>
        </div>
        <div class="tag-big">
          <div class="d-flex w-100 justify-content-center">
            2
          </div>
          <span>Curtidas</span>
        </div>
      </div>
    </div>
    <div class="pergunta">
      <div class="pergunta__principal">
        <div class="pergunta__titulo p-2">
          Como ser um grande empreendedor de sucesso?
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <span class="tag">Insights</span>
            <span class="tag">dicas</span>
          </div>
          <div class="pergunta__detalhe mr-2">
            <div class="pergunta__detalhe--historico">
              Postada a 4 dias atrás - <span>@RafaelLima</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="tag-big--white">
          <div class="d-flex w-100 justify-content-center">1</div>
          <span>Respostas</span>
        </div>
        <div class="tag-big">
          <div class="d-flex w-100 justify-content-center">
            2
          </div>
          <span>Curtidas</span>
        </div>
      </div>
    </div>
    <div class="pergunta">
      <div class="pergunta__principal">
        <div class="pergunta__titulo p-2">
          Como ser um grande empreendedor de sucesso?
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <span class="tag">Insights</span>
            <span class="tag">dicas</span>
          </div>
          <div class="pergunta__detalhe mr-2">
            <div class="pergunta__detalhe--historico">
              Postada a 4 dias atrás - <span>@RafaelLima</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="tag-big--white">
          <div class="d-flex w-100 justify-content-center">1</div>
          <span>Respostas</span>
        </div>
        <div class="tag-big">
          <div class="d-flex w-100 justify-content-center">
            2
          </div>
          <span>Curtidas</span>
        </div>
      </div>
    </div>
    <div class="pergunta">
      <div class="pergunta__principal">
        <div class="pergunta__titulo p-2">
          Como ser um grande empreendedor de sucesso?
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <span class="tag">Insights</span>
            <span class="tag">dicas</span>
          </div>
          <div class="pergunta__detalhe mr-2">
            <div class="pergunta__detalhe--historico">
              Postada a 4 dias atrás - <span>@RafaelLima</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="tag-big--white">
          <div class="d-flex w-100 justify-content-center">1</div>
          <span>Respostas</span>
        </div>
        <div class="tag-big">
          <div class="d-flex w-100 justify-content-center">
            2
          </div>
          <span>Curtidas</span>
        </div>
      </div>
    </div>
    <div class="pergunta">
      <div class="pergunta__principal">
        <div class="pergunta__titulo p-2">
          Como ser um grande empreendedor de sucesso?
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <span class="tag">Insights</span>
            <span class="tag">dicas</span>
          </div>
          <div class="pergunta__detalhe mr-2">
            <div class="pergunta__detalhe--historico">
              Postada a 4 dias atrás - <span>@RafaelLima</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="tag-big--white">
          <div class="d-flex w-100 justify-content-center">1</div>
          <span>Respostas</span>
        </div>
        <div class="tag-big">
          <div class="d-flex w-100 justify-content-center">
            2
          </div>
          <span>Curtidas</span>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center nav-footer">
      <div class="nav-item--text">
        Anterior
      </div>
      <div class="nav-item--selected">
        1
      </div>
      <div class="nav-item">
        2
      </div>
      <div class="nav-item">
        3
      </div>
      <div class="nav-item--text-current">
        Próximo
      </div>
    </div>
  </div>
</div>
