<div class="container-principal h-100">
  <div class="pergunta-container">
    <div class="header p-2">
      <h1>Explore nossas perguntas</h1>
      <select
        [(ngModel)]="filtroAtual"
        (ngModelChange)="getPerguntas(this.filtroAtual)"
        class="form-control"
      >
        <option default value="data_criacao">Data</option>
        <option value="quantidade_comentarios">Relevância</option>
        <option value="quantidade_curtidas">Curtida</option>
      </select>
    </div>
    <div *ngIf="loading" class="loading">
      <fa-icon icon="spinner" spin="true"></fa-icon>
    </div>
    <div *ngIf="!loading">
      <div
        *ngFor="let pergunta of perguntas['results']"
        (click)="navegarDetalhePergunta(pergunta.id)"
        class="pergunta"
      >
        <div class="pergunta__principal">
          <div class="pergunta__titulo p-2">
            {{ pergunta.titulo }}
          </div>
          <div class="pergunta__detalhe-container d-flex justify-content-start">
            <div class="pergunta__detalhe-tags">
              <button
                *ngFor="let categoria of pergunta.categorias_display"
                class="btn tag tag--active"
              >
                {{ categoria.nome }}
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="pergunta__detalhe mr-2">
              <div class="pergunta__detalhe--historico">
                Postada {{ pergunta.data_criacao | dateAgo }} -
                <span>@{{ pergunta.autor.username }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="pergunta__indicadores d-flex">
          <div class="indicador--white">
            <div class="d-flex w-100 justify-content-center">
              {{ pergunta.quantidade_comentarios }}
            </div>
            <span>Respostas</span>
          </div>
          <div class="indicador">
            <div class="d-flex w-100 justify-content-center">
              {{ pergunta.quantidade_curtidas }}
            </div>
            <span>Curtidas</span>
          </div>
        </div>
      </div>

      <div
        class="alert-container"
        *ngIf="!mostrarErro && !loading && !perguntas.results.length"
      >
        <div class="alert alert-info text-center" role="alert">
          Não há perguntas cadastradas.
        </div>
      </div>
    </div>
    <div class="alert-container" *ngIf="mostrarErro && !loading">
      <div class="alert alert-danger text-center" role="alert">
        Não foi possível carregar o feed!
      </div>
    </div>
    <nav *ngIf="!mostrarErro" class="nav-footer">
      <div
        (click)="getPerguntasPage(perguntas.previous_url)"
        [ngClass]="{
          'nav-item--text': !perguntas.previous_url,
          'nav-item--text-current': perguntas.previous_url
        }"
      >
        Anterior
      </div>
      <div
        *ngFor="let indice of perguntas.pages"
        [ngClass]="{ 'nav-item--selected': indice === perguntas.current_page }"
        class="nav-item"
      >
        {{ indice }}
      </div>

      <div
        (click)="getPerguntasPage(perguntas.next_url)"
        [ngClass]="{
          'nav-item--text': !perguntas.next_url,
          'nav-item--text-current': perguntas.next_url
        }"
      >
        Próximo
      </div>
    </nav>
  </div>
</div>
