<div class="d-flex justify-content-center align-items-center h-100">
  <div class="flex-row">
    <div class="form-box d-flex flex-column">
      <div class="card-logo d-flex justify-content-center mb-2 mt-3">
        <img class="mr-3" src="assets/images/antifragil-lampada.svg" />
        <img src="assets/images/antifragil.svg" />
      </div>

      <div class="card-body">
        <form [formGroup]="pessoaLoginForm" id="pessoaLogin">
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': errorResponse?.username }"
              placeholder="Nome de Usuário"
              autocomplete="username"
              tabindex="1"
              formControlName="username"
            />
            <div *ngIf="errorResponse?.username" class="col-md-12">
              <small class="text-danger">
                {{ errorResponse.username }}
              </small>
            </div>
          </div>
          <div class="form-group mb-1">
            <input
              type="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': errorResponse?.password }"
              placeholder="Senha"
              autocomplete="current-password"
              tabindex="2"
              formControlName="password"
            />
            <div *ngIf="errorResponse?.password" class="col-md-12">
              <small class="text-danger">
                {{ errorResponse.password }}
              </small>
            </div>
          </div>
          <div
            class="form-check d-flex justify-content-between align-items-baseline"
          >
            <input
              tabindex="3"
              type="checkbox"
              class="form-check-input"
              id="manterSessao"
              [(ngModel)]="manterSessao"
              [ngModelOptions]="{ standalone: true }"
            />
            <label
              class="form-check-label form-check-label--small"
              for="manterSessao"
              >Lembrar de mim
            </label>
            <a href="">Esqueci minha senha</a>
          </div>
          <div *ngIf="errorResponse?.non_field_errors" class="col-md-12">
            <small class="text-danger">
              {{ errorResponse.non_field_errors }}
            </small>
          </div>
        </form>
        <div class="d-flex justify-content-between mt-3">
          <button (click)="navegarCadastro()" class="btn btn--transparent">
            Crie sua conta
          </button>
          <button
            [disabled]="!pessoaLoginForm.valid || loading"
            (click)="login()"
            tabindex="4"
            class="btn btn--blue"
            id="login"
            type="submit"
            form="pessoaLogin"
          >
            {{ loading ? "Acessando " : "Acessar" }}
            <fa-icon *ngIf="loading" icon="spinner" spin="true"></fa-icon>
          </button>
        </div>
        <div
          class="d-flex justify-content-between mt-3 mb-1 align-items-center"
        >
          <div class="linha"></div>
          Ou
          <div class="linha"></div>
        </div>
        <div class="d-flex flex-column">
          <div
            *ngIf="mostrarErroLoginSocial"
            class="alert alert-danger"
            role="alert"
          >
            Ops! Não foi possivel realizar o login social.
          </div>
          <div
            *ngIf="!mostrarErroLoginSocial && loadingSocial"
            class="alert alert-info text-center"
            role="alert"
          >
            Estamos autorizando o seu acesso
            <fa-icon icon="spinner" spin="true"></fa-icon>
          </div>
          <button
            class="btn btn-social btn-social--blue"
            (click)="socialSignIn()"
          >
            <i class="fa fa-facebook-f"></i> Login com o Facebook
          </button>
          <!-- <button class="btn btn-social btn-social--light-blue">
            <i class="fa fa-twitter"></i> Login com o Twitter
          </button>
          <button class="btn btn-social btn-social--dark-blue">
            <i class="fa fa-linkedin"></i> Login com o Linkedin
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
