<div class="d-flex justify-content-center align-items-center h-100">
  <div class="flex-row">
    <div class="form-box d-flex flex-column">
      <div class="card-logo d-flex justify-content-center mb-2 mt-3">
        <object
          class="mr-3"
          type="image/svg+xml"
          data="assets/images/antifragil-lampada.svg"
        ></object>
        <object
          type="image/svg+xml"
          data="assets/images/antifragil.svg"
        ></object>
      </div>
      <div class="card-body">
        <div class="form-group mb-2">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            autocomplete="email"
            tabindex="1"
          />
        </div>
        <div class="form-group mb-1">
          <input
            type="password"
            class="form-control"
            placeholder="Senha"
            autocomplete="current-password"
            tabindex="2"
          />
        </div>
        <div
          class="form-check d-flex justify-content-between align-items-baseline"
        >
          <input
            tabindex="3"
            type="checkbox"
            class="form-check-input"
            id="manterSessao"
          />
          <label
            class="form-check-label form-check-label--small"
            for="manterSessao"
            >Lembrar de mim</label
          >
          <a href="">Esqueci minha senha</a>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <button (click)="navigateTo()" class="btn btn--transparent">
            Crie sua conta
          </button>
          <button tabindex="4" class="btn btn--blue">
            Acessar
          </button>
        </div>
        <div
          class="d-flex justify-content-between mt-3 mb-1 align-items-center"
        >
          <div class="linha"></div>
          Ou
          <div class="linha"></div>
        </div>
        <div class="d-flex flex-column">
          <div
            *ngIf="mostrarErroLoginSocial"
            class="alert alert-danger"
            role="alert"
          >
            Ops! Não foi possivel realizar o login social.
          </div>
          <div
            *ngIf="!mostrarErroLoginSocial && loading"
            class="alert alert-info text-center"
            role="alert"
          >
            Estamos autorizando o seu acesso.
            <i class="fa fa-spinner fa-spin"></i>
          </div>
          <button
            class="btn btn-social btn-social--blue"
            (click)="socialSignIn()"
          >
            <i class="fa fa-facebook-f"></i> Login com o Facebook
          </button>
          <button class="btn btn-social btn-social--light-blue">
            <i class="fa fa-twitter"></i> Login com o Twitter
          </button>
          <button class="btn btn-social btn-social--dark-blue">
            <i class="fa fa-linkedin"></i> Login com o Linkedin
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
