<app-navbar></app-navbar>
<div class="container-principal h-100">
  <div class="pergunta-container">
    <div class="header header--create">
      <h1 *ngIf="!mostrarInputTitulo" (click)="editar()">Crie sua pergunta</h1>
      <input
        *ngIf="mostrarInputTitulo"
        [(ngModel)]="novaPerguntaTitulo"
        [disabled]="desabilitarInput"
        #perguntaTitulo
        type="text"
        class="pergunta__input_titulo"
      />
    </div>
    <div class="pergunta__respostas">
      <div
        class="pergunta__respostas--publicar pergunta__respostas--publicar-pergunta"
      >
        <textarea
          [(ngModel)]="novaPergunta"
          [disabled]="desabilitarInput"
          cols="30"
          rows="10"
        ></textarea>
        <h6>Selecione tags</h6>
        <div class="pergunta__detalhe-tags">
          <button
            *ngFor="let categoria of categorias"
            id="{{ categoria.id }}"
            (click)="setSelecionado(categoria)"
            class="btn tag"
          >
            {{ categoria.nome }}
          </button>
        </div>
        <div class="p-0 pergunta__resposta--botao-container">
          <button
            *ngIf="!loadPublicar"
            [disabled]="desabilitarBotaoPublicar"
            class="btn btn-outline btn-outline--white-putple "
            (click)="criarPergunta()"
          >
            Publique sua Pergunta
          </button>
          <button
            *ngIf="loadPublicar"
            disabled="true"
            class="btn btn-outline btn-outline--white-putple btn-loading"
          >
            Publicando...
            <fa-icon icon="spinner" spin="true"></fa-icon>
          </button>
          <div
            *ngIf="exibirErro"
            class="alert alert-danger text-center mt-2"
            role="alert"
          >
            Não foi possível publicar a sua pergunta!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
