<app-navbar></app-navbar>
<div class="container-principal h-100">
  <div class="pergunta-container">
    <div class="header header--create p-2">
      <h1>Crie sua pergunta</h1>
    </div>
    <div class="pergunta__respostas">
      <div
        class="pergunta__respostas--publicar pergunta__respostas--publicar-pergunta"
      >
        <textarea cols="30" rows="10"></textarea>
        <h6>Selecione tags</h6>
        <div class="pergunta__detalhe-tags">
          <button class="btn tag tag--active">Marketing</button>
          <button class="btn tag">Empreendedorismo</button>
          <button class="btn tag">Carreiras</button>
          <button class="btn tag">Inovação</button>
          <button class="btn tag">Contabilidade</button>
          <button class="btn tag">Tecnologia</button>
          <button class="btn tag">Livros</button>
          <button class="btn tag">Logística</button>
        </div>
        <div class="p-0 pergunta__resposta--botao-container">
          <button class="btn btn-outline btn-outline--white-putple ">
            Publique sua Pergunta
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
