<app-navbar></app-navbar>
<div class="container-principal h-100">
  <div class="pergunta-container">
    <div class="header header--detail p-2">
      <h1>Como ser um grande empreendedor de sucesso?</h1>
      <div class="pergunta__detalhe--historico">
        Postada a 4 dias atrás - <span>@RafaelLima</span>
      </div>
    </div>
    <div class="d-flex mt-2">
      <div class="mr-3">
        <button class="btn btn-like" type="button">
          <i class="fa fa-thumbs-up"></i> Curtir
          <span class="btn--counter">0</span>
        </button>
      </div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt
        ligula erat, tempor ultrices metus posuere ut. Nulla id elit vestibulum
        tellus dictum mattis. Sed pulvinar aliquet elit a ornare. Nullam euismod
        lorem eget mollis malesuada. Praesent non sem dapibus, sodales diam vel,
        iaculis odio. Nulla cursus erat sit amet urna interdum, lobortis
        malesuada felis fermentum. Nunc eros purus, faucibus quis rutrum in,
        tincidunt sit amet dolor. Duis vitae metus sit amet sem venenatis
        porttitor vel a odio.
      </div>
      <div class="ml-3">
        <button type="button" class="btn btn-yellow btn-outline">
          excluir
        </button>
      </div>
    </div>
    <div class="d-flex mt-3 justify-content-between pergunta__detalhe-info">
      <div>5 Respostas</div>
      <div>
        <select class="form-control">
          <option value="">Data</option>
          <option value="">Relevância</option>
          <option value="">Curtida</option>
        </select>
      </div>
    </div>
    <div class="pergunta__respostas">
      <div class="d-flex mt-2">
        <div class="mr-3">
          <button class="btn btn-like" type="button">
            <i class="fa fa-thumbs-up"></i> Curtir
            <span class="btn--counter">0</span>
          </button>
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          tincidunt ligula erat, tempor ultrices metus posuere ut. Nulla id elit
          vestibulum tellus dictum mattis. Sed pulvinar aliquet elit a ornare.
          Nullam euismod lorem eget mollis malesuada. Praesent non sem dapibus,
          sodales diam vel, iaculis odio. Nulla cursus erat sit amet urna
          interdum, lobortis malesuada felis fermentum. Nunc eros purus,
          faucibus quis rutrum in, tincidunt sit amet dolor. Duis vitae metus
          sit amet sem venenatis porttitor vel a odio.
        </div>
      </div>
      <div
        class="pergunta__resposta--detalhe d-flex justify-content-end align-items-baseline mr-4"
      >
        <div class="ml-3  mr-4">
          <button type="button" class="btn btn-yellow btn-outline">
            Denunciar
          </button>
        </div>
        <div class="pergunta__detalhe--historico">
          Postada a 4 dias atrás - <span>@RafaelLima</span>
        </div>
      </div>
    </div>
    <div class="pergunta__respostas">
      <div class="d-flex mt-2">
        <div class="mr-3">
          <button class="btn btn-like" type="button">
            <i class="fa fa-thumbs-up"></i> Curtir
            <span class="btn--counter">0</span>
          </button>
        </div>
        <div>
          Lorem ipsum dolor sit amet?
        </div>
      </div>
      <div
        class="pergunta__resposta--detalhe d-flex justify-content-end align-items-baseline mr-4"
      >
        <div class="ml-3  mr-4">
          <button type="button" class="btn btn-yellow btn-outline">
            Denunciar
          </button>
        </div>
        <div class="pergunta__detalhe--historico">
          Postada a 4 dias atrás - <span>@RafaelLima</span>
        </div>
      </div>
    </div>
    <div class="pergunta__respostas">
      <div class="d-flex mt-2">
        <div class="mr-3">
          <button class="btn btn-like" type="button">
            <i class="fa fa-thumbs-up"></i> Curtir
            <span class="btn--counter">0</span>
          </button>
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          tincidunt ligula erat, tempor ultrices metus posuere ut. Nulla id elit
          vestibulum tellus dictum mattis. Sed pulvinar aliquet elit a ornare.
          Nullam euismod lorem eget mollis malesuada!
        </div>
      </div>
      <div
        class="pergunta__resposta--detalhe d-flex justify-content-end align-items-baseline mr-4"
      >
        <div class="ml-3  mr-4">
          <button type="button" class="btn btn-yellow btn-outline">
            Denunciar
          </button>
        </div>
        <div class="pergunta__detalhe--historico">
          Postada a 4 dias atrás - <span>@RafaelLima</span>
        </div>
      </div>
    </div>
    <div class="pergunta__respostas">
      <div class="d-flex mt-2">
        <div class="mr-3">
          <button class="btn btn-like" type="button">
            <i class="fa fa-thumbs-up"></i> Curtir
            <span class="btn--counter">0</span>
          </button>
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          tincidunt ligula erat, tempor ultrices metus posuere ut. Nulla id elit
          vestibulum tellus dictum mattis. Sed pulvinar aliquet elit a ornare.
          Nullam euismod lorem eget mollis malesuada. Praesent non sem dapibus,
          sodales diam vel, iaculis odio. Nulla cursus erat sit amet urna
          interdum, lobortis malesuada felis fermentum. Nunc eros purus,
          faucibus quis rutrum in, tincidunt sit amet dolor. Duis vitae metus
          sit amet sem venenatis porttitor vel a odio.
        </div>
      </div>
      <div
        class="pergunta__resposta--detalhe d-flex justify-content-end align-items-baseline mr-4"
      >
        <div class="ml-3  mr-4">
          <button type="button" class="btn btn-yellow btn-outline">
            Denunciar
          </button>
        </div>
        <div class="pergunta__detalhe--historico">
          Postada a 4 dias atrás - <span>@RafaelLima</span>
        </div>
      </div>
    </div>
    <div class="pergunta__respostas--publicar d-flex mt-3">
      <h5>Sua resposta</h5>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <div class="d-flex p-0">
        <button class="btn btn-outline btn-outline--white-putple ">
          Publique sua Resposta
        </button>
      </div>
    </div>
  </div>
</div>
