@media (max-width: 768px) {
  .navbar-search {
    .btn-create {
      display: none;
    }

    .btn-create-sm {
      width: 75px;
      display: block;
    }

    .btn-outline-sm {
      display: inline;
    }
  }

  .btn-login {
    display: unset !important;
  }

  .btn__badge-container {
    width: 75px !important;
  }
}

.btn-outline-sm {
  display: none;
}

.btn__badge-container {
  position: relative;
  width: 125px;
}

.btn__badge {
  position: absolute;
  right: -7px;
  top: -7px;
  background-color: $yellow-primary;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 11px;
}

.btn-outline,
.btn-outline-sm {
  border: 1px solid white;
  color: white;
}

.btn:hover,
.btn-transparent--white:hover {
  color: white;
}

.btn-transparent--white {
  color: white;
}

.btn--transparent:hover {
  color: black;
}

.btn--light-gray {
  background-color: $light-gray;
}

.btn-create,
.btn-create-sm {
  font-size: 14px;
  width: 190px;
  margin: 0 auto;
  padding: 0;
  color: white;
}

.btn-create-sm {
  display: none;
}

.btn-social {
  height: 32px;
  color: white;
  font-size: 13px;
  margin-top: 0.5rem;
}

.btn-social--blue {
  background-color: $default-blue;
}

.btn-social--dark-blue {
  background-color: $terciary-blue;
}

.btn-social--light-blue {
  background-color: $secondary-blue;
}

.btn--transparent {
  background: transparent;
  border: 1px solid rgba(90, 90, 90, 0.5);
  width: 40%;
}

.btn--blue {
  background-color: $dark-blue;
  color: white;
  width: 40%;
}

.navbar-search {
  .dropdown {
    display: unset;
    width: 125px;
  }
}

.tag {
  width: 83px;
  height: 22px;
  background-color: rgba(49, 67, 153, 0.1);
  border-radius: 7px;
  font-size: 12px;
  color: #314399;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.indicador,
.indicador--white {
  width: 66px;
  height: 66px;
  background-color: rgba(49, 67, 153, 0.1);
  border-radius: 3px;
  font-size: 24px;
  line-height: 28px;
  color: #314399;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  flex-wrap: wrap;
}

.indicador--white > span {
  display: block;
  font-size: 12px;
  color: rgba(90, 90, 90, 0.5);
}

.indicador > span {
  font-size: 12px;
  display: block;
}

.indicador--white {
  background-color: white;
  border: 0.5px solid rgba(90, 90, 90, 0.5);
  color: #5a5a5a;
}
