$default-background: #e5e5e5;
$default-blue: #4267b2;
$dark-blue: #314399;
$default-gray: gray;
$secondary-blue: rgb(59, 158, 242);
$terciary-blue: rgb(53, 116, 180);
$light-gray: rgba(255, 255, 255, 0.4);
$yellow-primary: #fdd53d;
$alternative-blue: rgba(49, 67, 153, 0.1);
$default-black: #5a5a5a;
$alternative-gray: #999;
$space-black: #262626;
