$default-background: #e5e5e5;
$default-blue: #4267b2;
$dark-blue: #314399;
$default-gray: gray;
$secondary-blue: rgb(59, 158, 242);
$terciary-blue: rgb(53, 116, 180);
$light-gray: rgba(255, 255, 255, 0.4);
$yellow-primary: #fdd53d;
