@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "colors";

@media (max-width: 442px) {
  .form-box {
    width: 100vw !important;
    height: auto;
  }
}

@media (max-width: 360px), (max-height: 480px) {
  .card-logo {
    display: none !important;
  }

  .form-box {
    height: auto !important;
  }
}

.form-box {
  width: 442px;
  height: 480px;
  border-radius: 4px;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.form-check-label--small {
  font-size: 14px;
}

.linha {
  height: 1px;
  width: 40%;
  border: 1px solid rgba(90, 90, 90, 0.5);
}

.navbar--dark-blue {
  background-color: $dark-blue;
}

@media (max-width: 768px) {
  .navbar-search {
    width: 90vw !important;
  }

  .navbar-logo {
    object:last-child {
      display: none !important;
    }
    width: 5vw !important;
  }

  .navbar-left {
    min-width: 100vw;
  }

  .profile {
    display: none !important;
  }

  .profile-sm {
    min-width: 15vw;
    display: flex !important;
  }
}

.profile-sm {
  display: none;
}

.profile {
  object {
    border-radius: 50%;
    background-color: white;
    width: 35px;
    height: 35px;
  }
}

.btn-login {
  display: none;
  object {
    border-radius: 50%;
    background-color: white;
    width: 35px;
    height: 35px;
  }
}

.navbar {
  .navbar-left {
    width: 70vw;
    max-width: 70vw;
  }
}

.navbar-logo {
  width: 15vw;
}

.navbar-search {
  width: 85vw;
}

.input--slim {
  height: 30px;
}

.notification-menu {
  p {
    padding: 10px;
    margin: 0px;
    border-bottom: 0.25px solid rgba(90, 90, 90, 0.5);
  }

  p:last-child {
    border-bottom: none;
  }

  width: 30vw;

  p:hover {
    background-color: $dark-blue;
    color: white;
    cursor: pointer;
  }
}
